@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

h1,
h2,
h3,
h4 {
  @apply font-bold;
}

.bg-banner {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 40%,
    rgba(33, 120, 34, 1) 100%
  );
}

.title {
  @apply text-2xl
}